@model Sample.Shared.Filters.PushMessageByDevice

<h4>PushMessageByDevice for app @Model.AppCode and device @Model.DeviceIds[0]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SendPushMessageByDevice">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="visibility:hidden">
                <input asp-for="AppCode" class="form-control" />
                @Html.TextBoxFor(model => model.DeviceIds)
            </div>
            <div class="form-group">
                <input asp-for="FirstDeviceId" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Badge" class="control-label"></label>
                <input asp-for="Badge" class="form-control" />
                <span asp-validation-for="Badge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sound" class="control-label"></label>
                <input asp-for="Sound" class="form-control" />
                <span asp-validation-for="Sound" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SendPush" class="control-label"></label>
                <input asp-for="SendPush" class="form-control" />
                <span asp-validation-for="SendPush" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Param1" class="control-label"></label>
                <input asp-for="Param1" class="form-control" />
                <span asp-validation-for="Param1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Param2" class="control-label"></label>
                <input asp-for="Param2" class="form-control" />
                <span asp-validation-for="Param2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Param3" class="control-label"></label>
                <input asp-for="Param3" class="form-control" />
                <span asp-validation-for="Param3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Param4" class="control-label"></label>
                <input asp-for="Param4" class="form-control" />
                <span asp-validation-for="Param4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Param5" class="control-label"></label>
                <input asp-for="Param5" class="form-control" />
                <span asp-validation-for="Param5" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if (ViewBag.IsSuccess == true)
                {
                    <div class="alert alert-success alert-dismissible fade show text-center">Successfully 
                        sended push!
                    </div>
                    <a href="javascript:void(0);" onclick="history.go(-2);">Back to List</a>
                } else
                {
                    <input type="submit" value="Create" class="btn btn-primary" />
                }
            </div>
        </form>
    </div>
</div>

<div>
    <a href="javascript:void(0);" onclick="history.go(-1);">Back to List</a>
</div>